<section id="wrapper" role="main">
      <div id="exceptfooter">
        <header></header>
        <div class="under-header-line"></div>
        
        {{outlet}}
        
        <div class="footer-container"></div>
      </div>
      <footer>
        <div class="over-footer-line"></div>
      </footer>
    </section>