@font-face {
	font-family: 'JuraRegular';
	src: url('/assets/Jura-Regular.eot'); /* IE9 Compat Modes */
	src: url('/assets/Jura-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/Jura-Regular.woff') format('woff'), /* Modern Browsers */
	     url('/assets/Jura-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
	}