@import "compass/css3/transition";
html,body{
  font-family: JuraRegular, sans-serif;
}
a{
  color: rgb(0, 173, 239);
  @include transition(text-decoration 0.3s ease-out);
  text-decoration: none;
}
a:hover{
  @include transition(text-decoration 0.3s ease-in);
  text-decoration: underline;
}